body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background: #030227;
    margin-left: 10%;
    margin-right: 10%;
    display: flexs;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 96px;
    color: #FFFFFF;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 0%;
    color: #FF895C;
}

.stats-container {
    background: #0F0E32;
    box-shadow: 0px 20px 96px rgba(0, 0, 0, 0.56);
    border-radius: 8px;
    margin: 8px;
    padding: 32px;
    display: flex;
}

.stat-card {
    flex: 1;
}